body {
    font-family: "Trebuchet MS";
    padding: 5px;
    background-image: url("GenericImages/backgroundimage.jpg");
}

footer {
    font-family: "Trebuchet MS";
    padding: 5px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding-right: 1.75rem;
}

main {
    margin-top: 1rem;
}

div {
    padding: 5px;
}

.title1 {
    text-align: center;
}

.imgbox {
    padding: 5px;
    display: grid;
    height: 100%;
    max-width: 70%;
    max-height: 70%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.translucent {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
}

.translucent2 {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 90%;
    max-height: 70%;
}
